.disabled {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.floor-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

header.header {
  padding: calc(var(--side-padding)*2) !important;
}

.fs-preloader {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  //pointer-events: none;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #0085ff;
  background-color: rgba(0, 133, 255, .8);
  cursor: not-allowed;
  fill: $--bg;

  & > svg {
    //width: 48px;
    //height: 48px;

    circle {
      stroke: $--bg;
      transform-origin: center;
    }
  }

  &-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.preloader-active {
  display: flex;
  //circle {
  //  will-change: transform;
  //  animation: preloader 1.3s infinite;
  //}
}
@keyframes preloader {

  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(100deg);
  }

  60% {
    transform: rotate(250deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes bouncePoint {

  0%,
  15%,
  65%,
  85%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }
}


.header {
  background: transparent !important;
}

.s3d {

  &-controller {
    z-index: 102;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100%;
    background: transparent;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    padding: 45px 50px;
    pointer-events: none;

    &__elem {
      display: flex;
      justify-content: flex-start;
      width: inherit;
      //height: 0;
      color: #ffffff;
      align-items: flex-start;
      font-size: 10px;
      grid-column: 2;
      grid-row: 1;
      line-height: 1.6em;
      margin: 0 auto 0 20px;
      pointer-events: painted;

      svg {
        width: 31px;
        height: 30px;
      }

      &-floor {
        display: none;

        &.active {
          display: flex;
          pointer-events: auto;
        }
      }
    }

    &__floor {
      display: none;
      pointer-events: none;
    }

    &-small {
      height: 50%;
    }
  }

  &-select {
    display: flex;
    justify-content: center;
    height: 50px;
    color: #000000;
    border: none;
    align-items: center;
    background: #ffffff;
    fill: $--bg;
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 5px 35px;
    stroke: $--bg;
    text-transform: uppercase;
    transition: all .4s linear;

    span {
      margin: 0 0 0 10px;
    }

    svg {
      fill: transparent;
      stroke: $--bg;
    }

    svg.icon-cube {
      fill: $--bg;
      stroke: transparent;
    }

    &__head {
      display: flex;
      justify-content: center;
      width: 200px;
      height: 50px;
      margin-bottom: 20px;
      align-items: center;
      background: $--bg;
      cursor: pointer;
    }

    &__number {
      font-size: 10px;
      font-weight: 600;
      line-height: 1.6em;
      margin-right: 10px;
      text-transform: uppercase;
    }

    &.active {
      color: $wc;
      background: $--bg;
      box-shadow: none !important;

      svg {
        stroke: $wc;
      }

      svg.icon-cube {
        fill: $wc;
        stroke: transparent;
      }
    }

    &:hover:not( .active ):not( [ disabled ] ) {
      background: #f3f1f9;
    }

    &:disabled {
      color: #f3f1f9;
      background: #cccccc;
      box-shadow: none !important;
      cursor: no-drop;

      svg {
        stroke: #f3f1f9;
      }
    }


  }

  &-arrow {
    width: 20px;
    height: 20px;
    animation: arrow_animation 2s ease-in-out infinite;
    transform: translate(0, 0);
  }

  &-filter {

    &__show {
      display: flex;
      height: 50px;
      border: none;
      align-items: center;
      background: none;
      cursor: pointer;
      //display: none;
      //pointer-events: none;
      grid-column: 1 / span 3;
      grid-row: 2;
      margin: auto auto 0;
      padding: 0 20px;
      pointer-events: painted;
      transition: all .3s linear;

      label {
        display: flex;
        width: 36px;
        height: 20px;
        margin-left: 10px;
        //background: #FF1E3C;
        border-radius: 50px;
        background: #0085ff;
        padding: 2px;
        pointer-events: none;

        span {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #ffffff;
          order: 1;
          transition: transform .3s ease-in;
        }
      }

      span {
        color: $wc;
        cursor: pointer;
        font-family: "Cera Pro";
        font-size: 24px;
        font-weight: bold;
        line-height: 1em;
        text-transform: uppercase;
        white-space: nowrap;
      }

      input {
        display: none;

        &:checked+ label {
          //flex-direction: row-reverse;
          background: #ff1e3c;

          span {
            transform: translateX(100%);
          }

        }
      }

      &:hover {
        color: #dcd8e9;
      }
    }

    &__compass {
      display: flex;
      width: 40px;
      height: 53px;
      color: $wc;
      fill: transparent;
      grid-column: 3;
      grid-row: 2;
      margin: 0 0 0 auto;

      svg {
        transform-origin: center;
      }
    }

  }

  &-mobile {

    .s3d-floor__helper {
      z-index: 555;
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      opacity: 0;
      pointer-events: auto;
      transform: translate(-50%, calc(-50% + 40px));
      visibility: hidden;

      &-close {
        display: block;
      }

      &-button {
        display: flex;
      }

      &-bg {
        display: block;
      }
    }

    .js-s3d__wrap {
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: auto;
      overflow-y: hidden;
      text-align: center;

      &::-webkit-scrollbar {
        width: 8px;
        height: 4px;
      }

      /*Track*/

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      }


      /*Handle*/

      &::-webkit-scrollbar-thumb {
        background: $mc;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background: #c1c1c1;
      }

      &::selection {
        background-color: $mc;
        color: #ffffff;
      }

      &::placeholder {
        color: $mc3;
      }

      &:placeholder {
        color: $mc3;
      }

      &::input-placeholder {
        color: $mc3;
      }

      &:input-placeholder {
        color: $mc3;
      }

      &::input-placeholder {
        color: $mc3;
      }
    }

    .s3d__button {
      position: fixed;
    }
  }

  &__button {
    z-index: 2000;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid $wc;
    align-items: center;
    background: transparent;
    fill: #ffffff;
    padding: 8px;
    transform: translateY(-50%);
    transition: all .3s ease-in;

    svg {
      display: flex;
      fill: $wc;
      flex: 1 1 100%;
    }

    * {
      pointer-events: none;
    }

    &:hover {
      border: none;
      background: #0085ff;

      svg {
        fill: $wc;
      }
    }

    &-left {
      left: var(--side-padding);
    }

    &-right {
      right: var(--side-padding);

      svg {
        //transform: rotate(180deg);
      }
    }
  }

  &__footer {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    .footer-layout {
      background: transparent;
    }
  }

  &__wave {
    z-index: 880;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: flex-end;

    padding: var(--side-padding);
    pointer-events: none;

    .title {
      //margin: auto auto 0 0;
      padding: 0;
    }

    .bottom-line {
      position: absolute;
      bottom: calc(var(--side-padding));
      right: var(--side-padding);
      display: block;
      width: calc(100% - 527px - var(--side-padding) * 2);
      height: 2px;
      background-color: rgba(255, 255, 255, .5);
    }

    .top-line {
      position: absolute;
      top: var(--side-padding);
      left: calc(var(--side-padding) + 2px);
      width: calc(100% - (var(--side-padding) * 2) - 2px);
      height: 2px;
      background-color: rgba(255, 255, 255, .5);
    }

    &:after {
      position: absolute;
      top: var(--side-padding);
      left: var(--side-padding);
      width: 2px;
      height: calc(100% - (var(--side-padding) * 2) - 79px);
      background-color: rgba(255, 255, 255, .5);
      content: "";
    }

    &:before {
      position: absolute;
      top: calc(var(--side-padding) + 2px);
      right: var(--side-padding);
      width: 2px;
      height: calc(100% - (var(--side-padding) * 2) - 3px);
      background-color: rgba(255, 255, 255, .5);
      content: "";
    }

    svg {
      position: absolute;
      left: var(--side-padding);
      bottom: var(--side-padding);
      width: 527px;
      height: 79px;
    }

    svg path {
      fill: none;
      stroke: rgba(255, 255, 255, .5);
      stroke-width: 2;
    }

    .mobile {
      display: none;
      width: 262px;
      height: 40px;
    }
  }

  &-svg {

    &__point {
      clip-rule: evenodd;
      fill: #40484e;
      fill-rule: evenodd;

      &-bg {
        fill: #f7f5fb;
      }

      &-group {
        cursor: pointer;
        opacity: 0;
        pointer-events: painted;
        transition: opacity .3s ease-in;

        &:hover {
          animation: bouncePoint 1.4s forwards;
        }
      }

    }

    &__text {
      cursor: default;
      fill: #ffffff;
      font-family: "Cera Pro";
      font-size: 15px;
      font-weight: bold;
      pointer-events: none;
      text-transform: uppercase;

      &-bg {
        fill: #0085ff;
        pointer-events: none;
      }
    }

    &__house {
      fill: #f7f5fb;
      opacity: .5;
      stroke: #ffffff;
      stroke-miterlimit: 10;
      transition: opacity .3s ease-in;
    }
  }

  &-point {

    &__help {
      z-index: 366;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      width: 60vw;
      height: initial;
      max-height: 70vh;
      max-width: 850px;
      min-height: 430px;
      opacity: 0;
      pointer-events: none;
      transform: translate(-50%, 00%);
      transition: transform .4s ease-in, opacity .4s ease-in;

      &.point-active {
        opacity: 1;
        pointer-events: painted;
        transform: translate(-50%, -50%);
        transition: transform .5s ease-out, opacity .4s ease-in .1s;
      }

      &-left {
        width: 50%;
        height: initial;
      }

      &-right {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        height: initial;
        align-items: flex-start;
        background: #0085ff;
        flex-direction: column;
        padding: 60px;
      }

      &-close {
        position: absolute;
        top: 50px;
        right: 50px;
        display: flex;
        justify-content: space-between;
        width: 20px;
        height: 20px;
        align-items: center;
        cursor: pointer;
        flex-direction: column;

        &:after,
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          width: calc(100% * 1.41421356237); // диагональ  = ширина * корень из 2
          height: 0;
          border-bottom: 2px solid #ffffff;
          content: "";
          margin: -1px 0 0 -1px;
          transform-origin: center;
          transition: transform .3s ease-in,border-color .3s ease-in;
        }

        &:after {
          transform: translate(-50%, -50%)rotate(-45deg);
        }

        &:before {
          transform: translate(-50%, -50%)rotate(45deg);
        }

        &:hover {

          &:after {
            border-color: #aaaaaa;
            transform: translate(-50%, -50%)rotate(-45deg)scale(1.1);
          }

          &:before {
            border-color: #aaaaaa;
            transform: translate(-50%, -50%)rotate(45deg)scale(1.1);
          }
        }
      }

      &-img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-logo {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 52px;
        height: 10px;
      }

      &-bg {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        pointer-events: none;
        transform: translate(-50%, -50%);
      }

      &-title {
        margin-bottom: 20px;
        color: #ffffff;
        font-family: "Cera Pro";
        font-size: 30px;
        font-weight: bold;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
      }

      &-text {
        margin-bottom: 40px;
        color: #f7f5fb;
        font-family: "Cera Pro";
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
      }

      &-button {
        display: flex;
        color: #ffffff;
        font-family: "Cera Pro";
        font-size: 18px;
        font-weight: bold;
        line-height: 1em;
        text-decoration: none;
        //align-items: center;
        text-transform: uppercase;
        transition: color .4s ease-out;

        &:after {
          display: inline-block;
          width: 36px;
          height: 2px;
          background: #ffffff;
          content: "";
          margin: .5em 0 .5em 10px;
          transform-origin: left;
          transition: transform .3s ease-out, background-color .4s ease-in-out;
        }

        &:hover {
          color: #b7d5f1;

          &:after {
            background: #b7d5f1;
            transform: scale(1.2, 1);
          }
        }
      }
    }
  }
}

#js-s3d {

  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__complex {
      display: flex;
      justify-content: center;
      width: initial;
      height: 100%;
      align-items: center;
      background: #ffffff;
      flex: 1 0 100%;
    }
  }

  &__complex,
  &__house {
    z-index: 15;
    display: flex;
    width: 1920px;
    height: 1080px;
    flex: 1 0 0;
  }

  &__svg {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.js-s3d {

  &__slideModule {
    z-index: 5;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }

  &__wrap {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    background: #ffffff;

  }

  &__wrapper__complex {
    z-index: 13;
  }

  &__svg-container {
    z-index: 25;
    display: none;

    &__complex {
      z-index: 55;
      display: block !important;
    }
  }

  &__container-active {
    z-index: 55;
    display: block;
  }

  &__svgWrap {
    z-index: 51;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;

    svg {
      display: block;
      //display: none;
      width: 100%;
      fill: $--bg;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
    }

    &.js-s3d__svg__active {
      z-index: 55;

      svg {
        opacity: 1;
        //display: block;
        visibility: visible;

      }
    }
  }

  &__infoBox {
    z-index: 200;
    position: absolute;
    top: -10000px;
    left: -10000px;
    color: #140101;
    border: none;
    background: $wc;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 30px;
    pointer-events: none;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, calc(-100% + 10px));
    white-space: nowrap;

    &__house {
      color: #0085ff;
    }

    &:after {
      //background: url("../images/icon/helper-logo.svg") no-repeat center /cover;
      z-index: 199;
      position: absolute;
      top: 0;
      left: 50%;
      display: inline-block;
      width: 30px;
      height: 30px;
      content: "";
      transform: translate(-50%, -75%);
    }

    &:before {
      z-index: 199;
      position: absolute;
      left: 50%;
      bottom: -5px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: $wc;
      content: "";
      transform: translate(-50%, 0)rotate(45deg);
    }
  }
}

.s3d-active-vertical {
  align-items: flex-start;

  .s3d-controller {
    display: grid;
    grid-gap: 15px 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto 40px 40px;
    height: 50%;
    padding: 15px 0 0;
    pointer-events: none;
    //background: transparent;

    &__elem {
      grid-column: 1 / span 3;
      grid-row: 3;
      margin: auto 0 0;

      svg {
        width: 21px;
        height: 19px;
      }
    }

  }

  .s3d-select {
    width: 33.33%;
  }

  .s3d-filter {

    &__compass {
      color: $wc;
      fill: $wc;
    }
  }

  .s3d__button {
    border-width: 1px;
  }

  .js-s3d__wrap {
    align-items: center;

    bottom: auto;
  }

  .js-s3d__svgWrap {
    width: 100%;
    height: auto;
  }

  .fs-preloader {
    height: 50%;
  }

  .s3d-preloader__full.fs-preloader {
    height: 100%;
  }
}

.first-loader.fs-preloader {
  height: 100% !important;
}

.js-s3d__svgWrap {

  .s3d-svg__house {
    cursor: pointer;
    opacity: 0;

    &:hover {
      fill: $wc !important;
      opacity: .6 !important;
    }

    &.active-floor {
      opacity: .8 !important;
    }
  }
}


@keyframes arrow_animation {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -25px);
  }
}


.close {
  z-index: 120;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateX(-50%);

  &:hover:before,
  &:hover:after {
    background: #000000;
  }

  &:hover {

    &:after {
      transform: rotate(-45deg) scale(1.2);
    }

    &:before {
      transform: rotate(45deg) scale(1.2);
    }
  }

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff1e3c;
    content: "";
    margin-top: -1px;
    transition: .3s all linear;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

html,
body,
.page__inner {
  width: 100%;
}

body {
  display: block;
}

.unselectable {
  -webkit-touch-callout: none; /*iOS Safari*/
  user-select: none;   /*Chrome/Safari/Opera*/
  user-select: none;    /*Konqueror*/
  user-select: none;      /*Firefox*/
  user-select: none;       /*Internet Explorer/Edge*/
  user-select: none;           /*Non-prefixed version, currently
                                  not supported by any browser*/
}


@media screen and ( min-width : 1720px ) {

  .s3d {

    &__wave {

      svg {
        width: 703px;
        height: 106px;
      }

      .bottom-line {
        width: calc(100% - (var(--side-padding) * 2) - 702px);
      }

      &:after {
        height: calc(100% - (var(--side-padding) * 2) - 105px);
      }
    }
  }

}




@media screen and ( max-width : 1640px ) {

  #js-s3d {

    &__apart {

      .flat-buttons-group {

        a {
          width: 290px;
        }
      }
    }
  }

  .s3d {

    &-controller {

      &__elem {

        svg {
          width: 24px;
          height: 21px;
        }
      }
    }

    &-filter {

      &__show {
        height: 40px;

        span {
          font-size: 18px;
        }
      }

      &__compass {
        width: 45px;
        height: 45px;
      }
    }

    &-select {
      font-size: 10px;
      height: 40px;
      line-height: 16px;
    }

    &-flat {

      &__button {
        font-size: 14px;
        font-weight: 600;

        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    &-floor {

      &__helper {
        padding: 0 15px 20px;
        //&-img{
        //  max-width: 120px;
        //}

        &-logo {
          transform: translate(0, -50%);
        }

        &-area,
        &-flat,
        &-type,
        &-place {
          font-size: 10px;
          font-weight: 600;
          line-height: 16px;
        }
      }
    }
  }

  .js-s3d__infoBox {
    font-size: 10px;
    padding: 10px 20px;
  }
}
@media screen and ( max-width : 1023px ) {

  #js-s3d {

    &__wrapper {

      &__floor,
      &__apart {
        width: 100%;
      }

      &__floor {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
    }
    //&__floor svg{
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  margin: 0;
    //
    //  transform: rotate(90deg) translate(-50%, -50%);
    //  transform-origin: top left;
    //}

    &__apart {
      grid-gap: 20px;
      grid-template-areas: "desc image"
        "plan buttons";
      grid-template-columns: 290px 1fr;
      margin-bottom: 30px;

      .flat-buttons-group {
        flex-direction: column;

        a {
          margin: 10px 0;
          width: 100%;
        }
      }

      .flat-parameters {
        justify-content: center;
        height: 100%;
        align-items: center;
        padding: 20px;
      }
    }
  }

  .s3d {

    &-nav {

      &-floor {
        margin-top: 50px;

        &__list {
          display: none;
        }
      }

      &__block {

        &-floor {

          .s3d-controller__elem {
            margin: 0 0 20px;
          }
        }

        &-apart {

          .s3d-filter__plan {
            flex: 0 0 50%;
            margin: 0 0 0 auto;
            max-width: none;
            width: 50%;
          }

          .s3d-controller__elem {
            width: 100%;
          }
        }
      }
    }

    &-filter {
      flex-direction: row;
      flex-wrap: wrap;

      &__house--label {
        width: 34px;
        height: 34px;
        margin: 0 8px;
      }

      &__rooms--label {
        width: 34px;
        height: 34px;
        margin: 0 8px;
      }

      &-select {

        &__title {
          font-size: 12px;
          line-height: 1em;
        }
      }

      &__button--apply {
        margin: 0 auto;
        width: 50%;
      }

      &__button--reset {
        margin: 0 0 0 auto;
        order: 2;
      }
      //&__show{
      //  border-width: 1px;
      //}

      &__open {
        border-width: 1px;
      }

      &__area,
      &__living-space,
      &__buttons,
      &__floor {
        padding: 0 10px;
        width: 50%;
      }

      &__compass {
        margin: 0 20px 0 auto;
      }
    }

    &-floor__helper {
      transform: translate(-50%, -100%);
    }

    &-flat {

      &__param {
        font-size: 14px;
      }

    }
  }

  .s3d-active-vertical {

    .s3d-controller {
      grid-gap: 15px 0;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: auto 40px 40px;
      height: 50%;
      padding: 30px 0 0;
      pointer-events: none;

      &__elem {
        grid-column: 1 / span 3;
        grid-row: 3;
        height: 40px;
        margin: 0;

        svg {
          width: 21px;
          height: 19px;
        }
      }
    }

    .s3d-filter {

      &__rooms {
        width: 25%;
      }

      &__house {
        width: auto;

        .s3d-filter-select__list {
          justify-content: flex-start;
        }

      }
    }

    .s3d-select {
      align-items: center;
      width: 33.33%;
    }

    #js-s3d__wrapper {

      &__floor {
        flex-direction: row-reverse;
      }
    }

    .s3d-nav-floor__top {
      flex-direction: row-reverse;
    }
  }
}
@media screen and ( max-width : 992px ) {

  #js-s3d__floor,
  #js-s3d__apart {
    width: 100%;
    height: initial;
  }

  .s3d {

    &-filter {

      &__show span {
        font-size: 16px;
      }
    }
    //&__wave{
    //  svg{
    //    height: 46px;
    //    width: 351px;
    //  }
    //}
  }

}
@media screen and ( max-width : 767px ) {

  .s3d {

    &-select {
      width: 33.33%;
      height: 30px;
      font-size: 18px;
      padding: 5px;

      span {
        font-size: 12px;
        line-height: 1em;
        margin: 0;
      }

      svg {
        display: none;
      }

      &__head {
        width: 160px;
        height: 40px;
        margin-bottom: 10px;
      }
    }

    &-controller {
      grid-gap: 20px 0;
      //height: 50%;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 30px auto 30px;
      padding: 15px 0;
      pointer-events: none;

      &__elem {
        grid-column: 1 / span 3;
        grid-row: 3;
        height: 30px;
        margin: 0;

        svg {
          width: 21px;
          height: 19px;
        }
      }
    }

    &-filter {

      &__show {
        height: 30px;
        padding: 0 5px;

        span {
          font-size: 14px;
        }
        //border-width: 1px;
      }

      &__compass {
        width: 38px;
        height: 38px;
      }
    }

    &__footer {
      //position: static;
      bottom: -100%;
      //visibility: hidden;
      //display: none;
    }

    &__button {
      width: 26px;
      height: 26px;
      border-width: 1px;
      padding: 0;

      svg {
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
      }
    }

    &-nav {

      &-floor {
        margin: 0;
        padding: 0;
        width: 100%;

        &__house {
          display: inline-block;
          margin: 0 7px;

        }

        &__left {
          display: flex;
          border: none;
          flex-direction: row-reverse;
          font-weight: bold;
          margin: 0;
          text-transform: uppercase;
          white-space: nowrap;

          &-num {
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            margin: 0 5px;
          }

          &-name {
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
          }
        }

        &__arrow {
          display: none;
        }

        &__button {
          display: flex;
        }

        &__top {
          display: none;
        }

        &__content {
          background: transparent;
          box-shadow: none;
          height: initial;
          padding: 10px 0;
        }

        &__list {
          top: 100%;
          display: flex;
          width: 100%;
          align-items: flex-start;
          background: $wc;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0 5px;
          pointer-events: none;
          transform: translate(0, 0);

          span {
            display: flex;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            align-items: center;
            margin: 4px;

            &.active {
              color: #ffffff;
              background: #ff1e3c;
            }
          }
        }
      }

      &-apart {

        &.s3d-controller {
          grid-template-rows: 25px 40px;
          padding: 0;
        }

        .s3d-controller {

          &__elem {
            grid-row: 1;
          }
        }
      }

      &__block {

        &-apart {
          background: white;

          & .s3d-controller {
            padding: 0;
          }

          .s3d-filter__plan {
            flex: 1 1 auto;
            margin: 0;
            width: initial;
          }
        }

        &-floor {
          padding: 0;

          &.s3d-controller {
            display: grid;
            grid-gap: 15px 0;
            grid-template-columns: 33.33% 33.33% 33.33%;
            grid-template-rows: auto 30px 30px;
            height: 50%;
            padding: 15px 0 0;
            pointer-events: none;
          }

          .s3d-filter__open {
            display: flex;
          }

          .s3d-filter__show {
            display: flex;
          }
        }
      }
    }

    &-flat {

      &__button {
        font-size: 12px;
        line-height: 12px;

        span {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    &__helper {

      &__text {
        font-size: 12px;
        line-height: 1em;
      }
    }

    &-floor__helper {
      transition: opacity .3s ease-in .2s;

      &-img img {
        max-height: 40vh;
      }

    }

  }

  .s3d-active-vertical {

    .s3d-filter {

      &__rooms {
        width: 60%;
      }

      &__show {
        border-width: 1px;
        height: 30px;
        padding: 0 10px;
      }

      &__open {
        //padding: 0 5px;
        //border-width: 1px;
        font-size: 12px;
        height: 30px;
      }
    }

    .s3d-controller {
      grid-template-rows: auto 30px 30px;
      padding: 10px 0 0;
    }

    .js-s3d__wrapper__floor {
      padding: 0;
    }

    #js-s3d__wrapper__floor {
      flex-direction: column-reverse;
      height: 100%;
      padding: 30px 0;
    }

    .s3d-nav__block-apart .s3d-filter__compass {
      margin-left: auto;
      color: #3b4456;
      fill: #3b4456;
    }
  }

  .js-s3d__wrapper {

    &__floor {
      top: 50%;
      height: 50%;
      padding: 15px 0 25px;
    }

    &__apart {
      background: $wc;
    }
  }

  #js-s3d {
    //&__floor{
    //  flex: 0 0 auto;
    //}

    &__apart {
      align-content: flex-start;
      grid-gap: 0;
      grid-template-areas: "image image"
        "desc desc"
        "buttons buttons";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto;
      overflow: hidden;

      .flat-parameters {
        background-position-x: 95%;
      }

      .flat-button-return {
        display: none;
      }

      .flat-group2 {
        display: none;
      }

      .flat-buttons-group {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 40px;
        margin: 0;

        a {
          display: flex;
          justify-content: center;
          height: 40px;
          align-items: center;
          flex: 1 1 50%;
          margin: 0 5px;
          padding: 0;

          &:before {
            height: 70%;
            margin: 0 5px;
          }
        }
      }

      .js-flat-plan-mfp {
        margin: 20px auto 0 0;
        padding: 20px 65px 20px 0;
        width: 100%;

        img {
          max-height: none;
          max-width: none;
          width: 90%;
        }
      }

      .mini-floor-plan {
        height: 100px;

        svg {
          height: 100% !important;
        }
      }
    }

    &__wrapper__apart {
      background: $wc;
      flex: 0 0 auto;
      height: initial;
      padding: 80px 0 30px;
    }
  }

  .flat-parameters {
    box-shadow: none;
  }

  .transparent-button:before {
    margin: 0;
  }

  .first-info {
    flex-direction: column;
    height: initial;

    &__content {
      grid-template-columns: 1fr 1fr;
    }

    &__image {
      grid-column: 1/span 2;
      grid-row: 2;
      margin: 20px auto;
    }

    &__text {
      grid-column: 1/span 2;
      margin: 0 25px 20px;
    }

    .button_text {
      grid-column: 1/span 2;
      margin: 0 25px;
    }

    &__logo {
      grid-column: 1;
      grid-row: 5;
      margin: 25px 0 25px 25px;
    }

    &__stage {
      margin: auto 25px auto auto;
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .button_text {
    padding: 5px 0;
  }

  .irs--flat .irs-handle {
    top: 20px;
    width: 14px;
    height: 14px;
  }

  .js-s3d__infoBox {
    font-size: 9px;
    line-height: 14px;
    padding: 5px 10px;
  }
}
@media screen and ( max-width : 768px ) {

  .js-s3d__slideModule {
    height: calc(100vh - 59px);
  }

  #js-s3d__apart .flat-group2 {
    margin: 0;
  }

  .s3d {

    &__wave {

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
        width: 396px;
        height: 60px;
      }

      &:after {
        width: 2px;
        height: calc(100% - (var(--side-padding) * 2) - 60px);
        background-color: rgba(255, 255, 255, .5);
      }

      .bottom-line {
        width: calc(100% - (var(--side-padding) * 2) - 393px);
      }
    }
  }
}
@media screen and ( max-width : 480px ) {

  .js-s3d__slideModule {
    height: calc(100vh - 59px);
  }

  .s3d__wave {

    .mobile {
      width: 262px;
      height: 40px;
    }

    &:after {
      width: 2px;
      height: calc(100% - (var(--side-padding) * 2) - 40px);
      background-color: rgba(255, 255, 255, .5);
    }

    .bottom-line {
      width: calc(100% - (var(--side-padding) * 2) - 262px);
    }
  }

}
