.s3d {

  &-controller {
    z-index: 102;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-gap: 30px;
    padding: 0 0 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    grid-template-rows: 1fr auto 3fr 1fr auto;
    grid-template-columns: 1fr 1fr 1fr ;
    pointer-events: none;
    grid-template-areas: '. . .'
                'filter . .'
                '. . .'
                'compass . info-flat'
                'call buttons title';

    &__elem {
      grid-area: buttons;
      display: flex;
      justify-content: flex-start;
      width: initial;
      margin: 0 auto;
      align-items: flex-start;
      pointer-events: painted;
      svg {
        width: 31px;
        height: 30px;
      }
    }


    //&-small {
    //  height: 50%;
    //}

    //&__showFilter {
      //grid-area: filter;
      //display: flex;
      //height: 50px;
      //color: $wc;
      //border: none;
      //align-items: center;
      //
      //background: none;
      //cursor: pointer;
      //font-family: Gilroy;
      //font-size: 18px;
      //font-weight: 600;
      //grid-column: 1 / span 3;
      //grid-row: 2;
      //margin: auto auto 0;
      //padding: 0 20px;
      //pointer-events: painted;
      //text-transform: uppercase;
      //transition: all .3s linear;

      //label {
      //  display: flex;
      //  width: 36px;
      //  height: 20px;
      //  margin-left: 10px;
      //  border-radius: 50px;
      //  align-items: center;
      //  background: #b1b4bb;
      //  padding: 2px;
      //  pointer-events: none;
      //
      //  span {
      //    width: 16px;
      //    height: 16px;
      //    border-radius: 50%;
      //    background: #ffffff;
      //    order: 1;
      //    transition: transform .3s ease-in;
      //  }
      //}
      //
      //span {
      //  white-space: nowrap;
      //}
      //
      //input {
      //  display: none;
      //
      //  &:checked+ label {
      //    background: #ff1e3c;
      //
      //    span {
      //      transform: translateX(100%);
      //    }
      //  }
      //}
      //
      //&:hover {
      //  color: #dcd8e9;
      //}
    //}

    &__compass {
      grid-area: compass;
      display: flex;
      width: 75px;
      height: 75px;
      color: $wc;
      fill: $wc;
      margin: 0 0 0 30px;

      svg {
        transform-origin: center;
      }
    }

    &__openFilter {
      grid-area: filter;

      display: flex;
      width: 210px;
      height: 52px;
      padding: 0;
      position: relative;
      justify-content: flex-start;
      border: none;

      background: #255763;
      pointer-events: painted;
      text-transform: uppercase;
      transition: all .3s linear;

      &__icon{
        display: flex;
        height: 52px;
        width: 52px;

        justify-content: center;
        align-items: center;
        flex: 0 0 auto;

        background: #1C4954;

      }

      &__text{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px 20px;
        text-align: left;
        font-family: Gilroy;
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        color: $wc;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $wc;
      }


      &:hover {
        background: #ff1e3c;
        border-color: #ff1e3c;
      }
    }
  }

}

@media screen and ( max-width : 1640px ) {

  .s3d {

    &-controller {
    }
  }
}
@media screen and ( max-width : 1023px ) {

  .s3d {

    &-controller {

    }


  }
}

@media screen and ( max-width : 767px ) {

  .s3d {

    &-controller {
    }


  }

}
